/*Paleta de Cores: #008DA3, #2D3857, #009EB6 */

/************ Estilo da Página ************/
* {
    font-family: Arial, sans-serif;
}

body {
	background-color: #F8F9FA; /* cor suave de fundo */
}

/*************** Menu - logo de home ***************/
.logo{
    width: 40px; /* Define o tamanho da imagem logo */
    vertical-align: middle;
    /* transform: translateY(-2px); */
}

#titulo-pacotes {
    font-family: "Montserrat", serif;
    padding: 0.25em;
    margin-left: 70px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

#title-home {
    font-size: 36px;
    color: #2D3857;
    font-weight: bold;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    text-shadow: 1px 1px 4px #009EB6;
}


/*********** Botões - cores ***************/
.btn{
    color: white;
    background-color: #2D3857;
    transition: background-color 0.3s;
    border: 1px solid #333;
}
.btn:hover {
    background-color: #009EB6;
}

/******** Container do formulario ********/
#container-form {
    background-color: #009eb613;
    border: 1px solid #afadad3a;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/************** Estilo geral do footer **************/
footer {
    background-color: #f4f4f4; /* Cor de fundo suave */
    padding: 20px;
    border-top: 2px solid #ddd;
}

footer h6 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #2D3857;
    font-weight: bold;
}

.titles-footer {
    font-size: 15.5px;
    margin-bottom: 15px;
    color: #008DA3;
    font-weight: bold;
}

/* Texto de créditos */
#credentials {
    font-size: 14px;
    color: #666;
}

/* Estilo para as imagens */
.images-item {
    margin: 10px; /* Espaçamento entre imagens */
}

.images-item img {
    width: 50px; /* Tamanho padrão das imagens */
    height: auto;
    transition: filter 0.3s ease;  
}

/* ------------------------------- */
/* Linha separadora */
#hr {
    margin: 20px 0;
    border: 1px solid #ddd;
}